
BitBank/.idea/*
BitBank/config.ini
*.xml
BitBank/API/__pycache__/BitBankPubAPIManager.cpython-36.pyc
.idea/milkcocholate.iml
BitBank/API/__pycache__/__init__.cpython-36.pyc
BitBank/API/__pycache__/bitbankpub.cpython-36.pyc
BitBank/API/__pycache__/configmanager.cpython-36.pyc

\.idea/libraries/
