{% extends"base/base.html" %}
{% block main %}
    <div class="row bollingerband__base">
        <div class="container">
            <h2 class="h2">
                Dashboard
                <a href="javascript:history.back();">
                    <button type="button" class="btn btn-primary">
                    戻る
                    </button>
                </a>
            </h2>
        </div>
        <div class="container">
            <div class="card bollingerband__card">
                <div class="card-body">
                    <main role="main" class="col-md-12">

                    </main>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
    <style>
    .bollingerband__base
    {
        background-color: #F7F7F7;
    }

    .bollingerband__card
    {
        margin-bottom: 500px;
    }
    </style>
{% endblock %}