{% extends "base/base.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="myDiv">
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </div>
    </div>
<script>
// 読み込み時
jQuery(function($)
{
    activateNav(2);
});

function unpack(rows, key)
{
  return rows.map(function(row)
  {
      return row[key];
  });
}

function unpack_datetime(rows, key)
{
    return rows.map(function(row)
    {
        var date = new Date(row[key]);
        //console.log(date.getHours());

        if (date.getMonth() <= 8)
        {
            var month = '0' + (date.getMonth() + 1);
        }
        else
        {
            var month = date.getMonth() + 1 + '';
        }
        if (date.getDate() <= 9)
        {
            var date_s = '0' + date.getDate();
        }
        else
        {
            var date_s = date.getDate() + '';
        }
        if (date.getHours() <= 9)
        {
            var hours = '0' + date.getHours();
            console.log(hours);
        }
        else
        {
            var hours = date.getHours() + '';
        }
        if (date.getMinutes() <=9)
        {
            var minutes = '0' + date.getMinutes();
        }
        else
        {
            var minutes = date.getMinutes() + '';
        }
        return month + '/' + date_s + ' ' +  hours + ':' + minutes;
    })
}

var log = {{ log_graph.plot_data|tojson }};

var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'position',
  x: unpack_datetime(log, 'logged_at'),
  y: unpack(log, 'position'),
  line: {color: '#17BECF'}
}

var trace2 = {
  type: "scatter",
  mode: "lines",
  name: 'price',
  x: unpack_datetime(log, 'logged_at'),
  y: unpack(log, 'price'),
  line: {color: '#7F7F7F'}
}

var data = [trace1,trace2];

var layout = {
  title: '取引',
  xaxis: {
    gridwidth: 1,
  },
};

Plotly.newPlot('myDiv', data, layout);

</script>
{% endblock %}