<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <title>Flask Web App</title>
</head>
<body>
    <h3>DataTable</h3>
    <table id="foo-table" class="table table-bordered">
        <thead>
            <tr><th>No</th><th>都道府県</th></tr>
        </thead>
        <tbody>
        {% for i in prefectures %}
            <tr>
                <form action="index.html" method="get">
                    <input type="hidden" name="name_1" value="1">
                    <td>{{i[1]}}</td>
                    <td>{{i[0]}}</td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        jQuery(function($){
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                }
            });
            $("#foo-table").DataTable();
        });
    </script>
</body>
</html>