{% extends "base/base.html" %}
{% block main %}
    <div class="row populations__base">
        <div class="container">
            <h2 class="h2">
                Dashboard
                <a href="javascript:history.back();">
                    <button type="button" class="btn btn-primary">
                    戻る
                    </button>
                </a>
            </h2>
        </div>
        <div class="container">
            <div class="card populations__card populations__card">
                <div class="card-header populations__card--header">
                    Experiment No. {{ experiment.id }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="card populations__card--collapse">
                                <a class="" data-toggle="collapse" href="#overview" role="button" aria-expanded="false" aria-controls="overview">
                                    <div class="card-header populations__card--header-collapse">
                                            概要
                                    </div>
                                </a>
                                <div class="collapse" id="overview">
                                    <div class="card-body">
                                        <table class="populations__table">
                                        <tbody>
                                        <tr>
                                            <th>交叉手法</th>
                                            <td>{{ experiment.crossover_name }}</td>
                                        </tr>
                                        <tr>
                                            <th>適応度関数</th>
                                            <td>{{ experiment.fitness_function_name }}</td>
                                        </tr>
                                        <tr>
                                            <th>交叉率</th>
                                            <td>{{ experiment.cross_rate }}</td>
                                        </tr>
                                        <tr>
                                            <th>突然変異率</th>
                                            <td>{{ experiment.mutation_rate }}</td>
                                        </tr>
                                        <tr>
                                            <th>個体数</th>
                                            <td>{{ experiment.population }}</td>
                                        </tr>
                                        <tr>
                                            <th>エリート個体数</th>
                                            <td>{{ experiment.elite_num }}</td>
                                        </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="card populations__card--collapse">
                                <a data-toggle="collapse" href="#situation" role="button" aria-expanded="false" aria-controls="situation">
                                    <div class="card-header populations__card--header-collapse">
                                            遺伝子構成
                                    </div>
                                </a>
                                <div class="collapse" id="situation">
                                    <div class="card-body">
                                        <table class="populations__table">
                                        <tbody>
                                        {% for key in experiment.situation %}
                                        <tr>
                                            <td>{{ key }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card populations__card--last">
                <div class="card-body">
                    <main role="main" class="col-md-12">
                        <div class="row">

                        </div>

                        <div class="table-responsive">
                            <table id="foo-table" class="table table-striped table-sm">
                              <thead>
                                <tr>
                                    <th>#</th>
                                    <th>generations</th>
                                    <th>genome</th>
                                    <th>fitness</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for line in populations %}
                                    <tr>
                                        <td>
                                            <form action="graph" method="POST">
                                                <input type="hidden" name="population_id" value="{{ line.id }}">
                                                <input type="hidden" name="host" value="{{ host }}">
                                                <button class="badge badge-success" type="submit">
                                                    グラフを確認<ion-icon name="checkmark-circle-outline"></ion-icon>
                                                </button>
                                            </form>
                                        </td>
                                        <td>{{ line.generation_number }}</td>
                                        <td>
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#genome_{{ line.id }}">
                                                詳細
                                                <ion-icon name="clipboard"></ion-icon>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#fitness_{{ line.id }}">
                                                詳細
                                                <ion-icon name="clipboard"></ion-icon>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </main>
                </div>
            </div>
        </div>

        <!-- Modal -->
        {% for line in populations %}
        <div class="modal fade" id="genome_{{ line.id }}" tabindex="-1" role="dialog" aria-labelledby="genome_{{ line.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modal_detail__header">
                        <h3 class="modal-title">第{{ line.generation_number }}世代　遺伝子</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modal_detail__body">
                        <table class="populations__table">
                        <tbody>
                        {% for key in line.genome %}
                        <tr>
                            <th>{{ key }}</th>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <div class="modal-footer modal_detail__footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="fitness_{{ line.id }}" tabindex="-1" role="dialog" aria-labelledby="fitness_{{ line.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modal_detail__header">
                        <h3 class="modal-title">第{{ line.generation_number }}世代　遺伝子</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modal_detail__body">
                        <table class="populations__table">
                        <tbody>
                        {% for key in line.fitness %}
                        <tr>
                            <th>{{ key }}</th>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <div class="modal-footer modal_detail__footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        // 読み込み時
        jQuery(function($){
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                }
            });
            var table = $("#foo-table").DataTable();
            table.columns.adjust();

            activateNav(2);
        });
    </script>
    <style>
    .populations__base
    {
        background-color: #F7F7F7;
    }

    .populations__card--last
    {
        margin-bottom: 500px;
    }

    .populations__card
    {
        margin-bottom: 20px;
    }

    .populations__card--header
    {
        background-color: #FFFFFF;
        margin: 0 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        font-size: large;
        color: #73879C;
    }

    .populations__table
    {
        margin: 0 10px 20px 10px;
        width: 100%;
    }

    .populations__table tbody tr th, .populations__table tbody tr td
    {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }

    .populations__card--header-collapse
    {
        background-color: #F1F5F7;
        color: #5A738E;
        font-weight: bold;
        font-size: large;
    }

    .populations__card--header-collapse:hover
    {
        color: #23527C;
    }

    .populations__card--collapse
    {
        margin: 0 0 10px 0;
    }

    .populations__card--collapse a:hover
    {
        text-decoration: none;
    }

    #situation
    {
        max-height: 500px;
        overflow-y: scroll;
    }

    .modal_detail__header
    {
        box-sizing: border-box;
        background-color: #5097D5;
         color: #ffff;
        border-left: solid 3px #F5C845;
    }

    .modal_detail__body
    {
        background-color: #F6F6F6;
    }

    .modal_detail__footer
    {
        background-color: #F6F6F6;
    }
    </style>
{% endblock %}