<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css">
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

    {% from "base/head.html" import head %}
    {{ head() }}
    <!-- 各ページのヘッド -->
    <title>Flask Web App</title>
</head>
<body>
{% from "base/header.html" import header %}
{{ header() }}
<!-- ヘッダー -->

{% from "base/sidebar.html" import sidebar %}
{{ sidebar() }}
<!-- サイドバー -->

{% block main %}
<!-- メイン -->
{% endblock %}

{% from "base/footer.html" import footer %}
{{ footer() }}
<!-- フッター -->
</body>
</html>